second slide */
.container__small{
  max-width: 650px;
  margin: 0px auto;
}
.wrapper1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0px auto;
  margin-top: 70px;
}

.wrapper2{

  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}
.first-logo{
  display: block;
  width: 80px;
  height: 80px;
  
}

.site__name{
  font-family: var(--page-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #333333;
}

.second-logo{
  display: block;
  width: 50px;  
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.second-logo__title{
  font-family: var(--page-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #333333;
}

.second-logo__text{
  font-family: var(--page-font);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  margin: 0px auto;
  width: 80%;
}