@import "header.css";
@import "second-page.css";
@import "slider.css";
@import "footer.css";


:root{
  --text-grey: #4B5D68;
  --title-black: #212353;
  --purple-bg: #9C69E2;
  --small-title-size: 40px;
  --page-font:'Ubuntu', sans-serif;
  --media-small-width-container: 300px;
  --media-medium-width-container: 700px;
  --media-big-width-container: 700px;
}

body{
  margin: 0;
  padding: 0;
	font-family: var(--page-font);
	font-size: 16px;  
  width: 100%;  
  overflow-x:hidden; 
}


*,
*:after,
*:before
{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}


.container {
  width: 100%;
  max-width: 1120px;
  margin: 0px auto;
  
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

/* ===========intro============= */

.intro{    
  display: block;      
  margin-top: 240px;  
  min-width: 320px;
  min-height: 600px;  
  margin-bottom: 0;  
}

.intro__wrapper{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.intro__inner{  
  position: relative;  
  min-height: 500px;  
}

.intro__picture{
  display: block;
  position: absolute;
  top: 120px;
  left: 32%;
}

.intro__title{
  color: var(--title-black);
  font-family: var(--page-font);
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;  
  max-width: 645px;
}

.text{
  font-family: var(--page-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color:var(--text-grey);
}

.intro__text{
  min-height: 120px;
  max-width: 380px;
  width: 100%;  
  margin-top: 50px;  
  text-align: left;  
}

.btn{  
  display: block;
  margin-top: 50px;
  padding: 16px 37px;
  min-width: 96px;
  max-width: 180px;
  overflow: hidden;
  min-height: 60px;
  max-height: 380px;
  background: var(--purple-bg);
  border-radius: 50px;
  color:#fff;
  text-decoration: none;
  left: 0;
  position: relative;
  font-family: var(--page-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
}

/* ==========description=========== */

.descriprion__wrapper{    
  min-height: 560px;
  margin-top: 200px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.description__inner{    
  max-width: 550px;
  width: 100%;
  min-height: 560px;
  padding-top: 65px; 
  
}

.title{
  font-family: var(--page-font);   
  font-style: normal;
  font-weight: bold;
  font-size:var(--small-title-size);
  line-height: 130%;
}

.description__title{
  max-width: 500px;
  min-height: 100px;
  margin-top: 50px;
  color: var(--title-black);
}

.description__text{
  font-weight: 500;
  width: 520px;
  min-height: 180px;
  padding-right: 50px;
}

.description__picture{
  max-width: 520px;
  width: 100%;
  height: 520px;
  position: relative;
  margin-right: 100px;
  
}

/* =================features================= */

.features__title{
  text-align: center;
  color: var(--title-black);
  margin-top: 120px;
  margin-bottom: 30px;
}

.features__text{
  font-weight: 500;
  text-align: center;
  max-width: 584px;
  width: 100%;
  min-width: 300px;
  min-height: 58px;
  margin: 0px auto;
  margin-bottom: 100px;  
}

.features-cards{  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 55px;
  grid-row-gap: 80px;  
}

.features-cards__inner{
  text-align: left;
  padding-top: 49px;
  padding-left: 260px;
  max-width: 531px;
  min-height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;  
}

.features-cards__inner:nth-child(1){  
  background: url('/img/green_group.png') center no-repeat;
}

.features-cards__inner:nth-child(2){  
  background: url('/img/purple_group.png') center no-repeat;  
}

.features-cards__inner:nth-child(3){  
  background: url('/img/pink_group.png') center no-repeat;  
}

.features-cards__inner:nth-child(4){  
  background: url('/img/blue_group.png') center no-repeat;  
}

.features-cards__title{
  font-family: var(--page-font);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: var(--title-black);   
}

.features-cards__text{
  font-family: var(--page-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color:var(--text-grey);
  max-width: 220px;
  min-height: 160px;  
}

.features-cards__learnmore{
  font-family: var(--page-font);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;  
  max-width: 120px;
  height: 26px;
  cursor: pointer;  
}

.features-cards__learnmore a{
  text-decoration: none;
  color: var(--title-black);
}

.features-cards__learnmore:after{
  content:url('/img/arrow.png');
  position: relative;
  left: 18px;
  top: 3px;
  max-width: 20px;
  width: 100%;
  height: 14px;
  cursor: pointer;
}


@media (min-width:769px) and (max-width:1366px){
  .container{
    max-width: var(--media-medium-width-container);      
  }

  .intro__title{    
    font-size:var(--small-title-size);
    text-align: center;
    margin:0 auto;
    margin-bottom: 20px;
    
  }

  .intro__text{
    text-align: center;     
    margin:0 auto;
    font-size: 22px;
    height: 180px;
  }

  .intro__inner{ 
    width: var(--media-medium-width-container);
    margin: 0px auto;    
    position: relative;
  }

  .intro__picture{
    display: block;
    position: absolute;
    top: 70%;
    left: 7%;
    max-width: 600px;
  }

  .btn{
    margin:0 auto;
  }

  .intro__inner::after{    
    display: none;
  }

  .descriprion__wrapper{    
    min-height: 460px;
    border-radius: 50px;    
    text-align: center; 
  }

  .description__picture{
    display: none;
  }

  .description__inner{
    max-width: var(--media-medium-width-container);
    min-height: 560px;
    padding-top: 135px;
  }

  .description__title{ 
    color: var(--title-black);
    margin: 0px auto;
  }

.description__text{
    padding-top: 40px;    
    margin: 0px auto;
    text-align: center;
    padding-right: 10px;
  }

.features-cards{      
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
    margin: 0px auto;
    padding-left: 50px;    
  }

}



@media (min-width:320px) and (max-width:768px){

  .container{
    max-width: var(--media-small-width-container);  
  }

  .intro{    
    min-height: 280px;
  }

  .intro__picture{
    display: none;
  }

  .intro__title{    
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    max-width: var(--media-small-width-container);
  }

  .intro__text{  
    text-align: center;     
    font-size: 14px;
    height: 120px;
    width: var(--media-small-width-container);
  }

  .intro__inner{    
    max-width: 500px;
    margin: 0px auto;   
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    justify-content: space-around;    
  }

  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 8px;
    min-height: 5px;
    height: 5px;
    font-size: 10px;
    margin-top: 5px;
  }

  .descriprion__wrapper{  
    margin-top: 5px;    
    min-height: 360px;
    border-radius: 50px;
    margin-bottom: 20px;    
  }

  .description__picture{
    display: none;
  }

  .description__inner{    
    width: var(--media-medium-width-container);
    height: 560px;
    padding-top: 135px;
    text-align: center;
  }

  .description__title{
    width: var(--media-small-width-container);
    color: var(--title-black);
    margin: 0px auto;
    font-size: 24px;  
  }

  .description__text{
    padding-top: 40px;
    margin: 0px auto;
    font-size: 14px;
    width: var(--media-small-width-container);
    padding-left: 20px;
    padding-right: 20px;
  }

  .description__picture{
    display: none;
  }

  .features-cards__inner{  
    margin-bottom: 1px;
    height: 100%;
    min-height: 250px;
  }

  .features-cards{      
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0px;    
    padding-left: 50px;  
  }

  .features__title{
    font-size: 24px;
    width: var(--media-small-width-container);
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .features__text{
    font-size: 12px;
    width: var(--media-small-width-container);
    min-height: 90px; 
    margin-bottom: 10px;
  }

  .features-cards__inner{    
    width: var(--media-small-width-container);    
    min-height: 200px;  
    position: relative; 
    left: -52px;    
    max-width: initial;
    text-align: center;
    padding: 50px 10px;
    display: flex;    
  } 


  
  .features-cards__inner:nth-child(1){     
    background: url('/img/green_group.png') center no-repeat;
    background-size: 100%;
  }
  
  .features-cards__inner:nth-child(2){  
    background: url('/img/purple_group.png') left no-repeat;  
    background-size: 100%;
  }
  
  .features-cards__inner:nth-child(3){  
    background: url('/img/pink_group.png') left no-repeat;  
    background-size: 100%;
  }
  
  .features-cards__inner:nth-child(4){  
    background: url('/img/blue_group.png') left no-repeat; 
    background-size: 100%; 
  } 



  .features-cards{      
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-left: 50px;  
    margin-bottom: 0px;  
  } 

  .features-cards__title{
    font-size: 18px;    
    max-width: 200px;
    position: relative;
    left: 120px;
    top: 20px;    
  }

  .features-cards__text{
    font-size: 11px;    
    position: relative;
    left: 110px;
    top: 30px;
    text-align: left;
    max-width: 160px;
    min-height: 150px;
    text-align: center;
  }



  .features-cards__learnmore{    
    position: relative;
    left: 145px;
    bottom:15px;
    font-size: 12px;
  }

}